@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Fredoka&family=Gloria+Hallelujah&family=Grape+Nuts&family=Inter:wght@500&family=Montserrat:wght@600&family=Oxygen&family=Poppins:wght@600&family=Raleway:ital,wght@1,200&family=Rubik+Moonrocks&family=Work+Sans:wght@100;300&display=swap');
body {
    background-color: #121212;
    overflow: hidden;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.form {
    color: white;
}


.container {
display: flex;
justify-content: center;
align-items: center;
height: 90vh;

}


h2 {
    font-family: 'Poppins';
    margin-bottom: 6vh;
    font-size: 32px;
    margin-left: 1vh;
}

.mark {
    color: rgba(255, 255, 255, 0.466);
    font-family: 'Raleway';
    text-decoration: underline;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    height: 100%;
    max-height: 50vh;
}


.username, .password {
    all: unset;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    padding: 4;




}


.ac {
    margin-left: 5px;
    margin-bottom: 5px;
}


input {
    all: unset;
    text-align-last: left;
    font-family: 'Inter';
    padding: 1vh;

}


i {
    margin-right: 4;
    display: none;
}
.ui {
    border-radius: 12px;
    padding: 2;
    background-color:rgba(255, 255, 255, 0.123);
    border: 0.2px solid rgba(255, 255, 255, 0.233);
}

.ui:hover {
background-color: rgba(255, 255, 255, 0.212);
}


button {
background: #8d2de2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}



button {
    margin-top: 1rem;
    border: none;
    font-family: 'Poppins';
    border-radius: 12px;
    padding: 5;
    cursor: pointer;

    
}

button:hover {
    text-decoration: underline;
}

















.swal2-html-container {
    font-family: 'inter';
}














@media only screen and (max-width: 600px) {

    * {
        font-size: 20px;
    }

    .mark {
        all: unset;
        color: rgba(255, 255, 255, 0.466);
        font-family: 'Montserrat';
        text-decoration: underline;
    }
  }


  
@media only screen and (max-width: 351px) {

    * {
        font-size: 16px;
    }

    .mark {
        all: unset;
        color: rgba(255, 255, 255, 0.466);
        font-family: 'Montserrat';
        text-decoration: underline;
    }
  }