@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Fredoka&family=Gloria+Hallelujah&family=Grape+Nuts&family=Inter:wght@200&family=Montserrat:wght@600&family=Oxygen&family=Poppins:wght@600&family=Raleway:ital,wght@1,200&family=Rubik+Moonrocks&family=Work+Sans:wght@100;300&display=swap');


body {
    background-color: #0e1016;
    overflow: hidden;
}

* {
    margin: 0;
    
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.card {
    padding: 20;
    font-family: 'abc';
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 0.3vh;
    margin: 10;
    max-width: 400px;
    max-height: 188px;
    text-align: left;

}

#icon {
    width: 40%;
    filter: drop-shadow(2px 3px 1px #0b0b0c5e);
    background-color: #0f202731;
    transition: background-color 1s ease 0s;
    border-radius: 60%;
    margin-top: 4px;
}

#icon:hover{
    background-color: rgba(15, 32, 39, 0.19215686274509805);
}



.card {
    border-radius: 10px;
    text-align: center;
    height: 100%;
    max-height: 50vh;
    width: 100%;
    max-width: 44vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
}


h2, h3 {
    font-family: 'Poppins';
    font-size: 48px;
    line-height: 1.2;
}
h3 {
    font-size: 23px;
    margin-bottom: 2px;
}
p { 
    margin-top: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.397);
    font-family: 'Inter';
    font-size: 32px;
}


.space {
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.main {
    display: flex;
}


.near-text h2 {
    color: rgba(245, 222, 179, 0.781);
    font-size: 20px;
}

.near-text p {
    color: rgba(255, 255, 255, 0.795);
    border: none;
    font-family: 'Poppins';
    font-size: 20px;
    margin-left: 0.1vh;
}

.near-text {
    margin-top: 1.2vh;
}

input {
    all: unset;
    font-family: 'inter';
    width: 20rem;
}


.search {
color: white;
margin-top: 1vh;
padding: 6;
display: flex;
align-items: center;
align-content: center;
border-radius: 12px;
background: #0F2027;
width: 22rem;
text-align-last: left;
margin-left: 0px;

}


.icons {
    width: 6%;
    margin-right: 4px;
    padding: 4;
    border-radius: 10%;
}

button {
    all:unset;
    padding: 5;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
}


.error {
    margin-top: 5px;
    margin-left: 0.8vh;
}

.error p {
    font-size: 18px;
    color: red;
}



.near-text {
    margin-left: 0vh;
    width: 30rem;
}



.near-text h2 {
    font-weight: bold;
}


#search2 {
    margin-bottom: 2vh;
}



.mark {
color: red;


}


.swal2-html-container  {

    font-family: 'Poppins';
}