@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Fredoka&family=Gloria+Hallelujah&family=Grape+Nuts&family=Inter:wght@200&family=Montserrat:wght@600&family=Oxygen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@1,200&family=Rubik+Moonrocks&family=Work+Sans:wght@100;300&display=swap');    

@font-face {
    font-family: 'abc'; /*a name to be used later*/
    src: url('./assets/ABCProphetVariableEdu.ttf'); /*URL to font*/
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.fas {
    font-family: 'Font Awesome 5 Free';
}


body::-webkit-scrollbar{
    display: none;
}
.container {
    height: 100vh;
    border: 0px solid blue;
}
.mark {
    color: rgb(0, 255, 213);
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0px solid black;
    height: 90vh;
}
.main-text {
    color: white;
    font-size: 30px;
}

.jlogo {
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.308));
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-weight: 900;
}

p {
    font-family: 'poppins';
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 22px;
}

.btn {
    color: white;
    background-color: #a304ff;
    border-radius: 3px;
    border-radius: 7px;
    font-size: 18px;
    padding: 6;
    font-family: 'Poppins';
}

.btn:hover {
color: #000000b7;
}

a {
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
.jlogo {
    display: none;
}

.container {
display: flex;
align-items: center;
justify-content: center;
}

.main {
    display: grid;
    text-align: center;
}
  }





.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-text2 {
    text-align: center;
    color: white;
    font-size: 30px;
}
.info {
    font-size: 20px;
}

.fet {
    letter-spacing: 5px;
}

.why {
    color: rgba(14, 10, 3, 0.842)
}
.cards {
    margin-top: 4rem;
    display: flex;
}


.card {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}




@media only screen and (max-width: 1032px) {
    .jlogo {
        display: none;
    }
    
    .container {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .main {
        display: grid;
        text-align: center;
    }

.more {
    display: none;
}

.btns {
    
    display: grid;
}

.btn {
    margin: 5;
}

.cards {
    display: grid;
}

.line {
    display: none;
}

.why {
    padding: 4;
}
      }


.footer {
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0);
height: 2vh;
padding: 4;

}

.right {
    font-size: 18px;
}




@media only screen and (max-width: 600px) {
    .jlogo {
        display: none;
    }
    
    .container {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .main {
        display: grid;
        text-align: center;
    }
    .footer {
        display: none;
    }
      }

